# ignore data, but preserve the directory
/PKM/data/export/*
/PKM/data/org-attach/*

# ignore notes, but don't ignore the tutorial

/PKM/notes/*
!/PKM/notes/tutorial/

/personal.org
/personal.el

/elpaca/
/etc/
/var/
